<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Unique identifier for your LaunchAgent -->
    <key>Label</key>
    <string>com.ingeniator.ctrllord</string>

    <!-- The command to launch: path to pip-installed script -->
    <key>ProgramArguments</key>
    <array>
        <string>__CTRLLORD_BIN__</string>
    </array>

    <!-- Launch at user login -->
    <key>RunAtLoad</key>
    <true/>

    <!-- Do not restart automatically if the user quits the app -->
    <key>KeepAlive</key>
    <false/>

    <!-- Log standard output and error -->
    <key>StandardOutPath</key>
    <string>/tmp/ctrllord.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ctrllord.err</string>
</dict>
</plist>
